<app-detail-layout title="Channel" actionText="Browse all channels" actionLink="/channels">
  <ul class="channel-cards">

    @for (item of channels; track $index) {
    <li class="card">
      <div class="actionIcon">
        <svg width="48" height="48" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H64V64L0 0Z" fill="#A53F45"/>
          <path d="M39 19H53" stroke="#F4E4D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M46 12V26" stroke="#F4E4D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          
      </div>

      <a href="{{ item.url }}">
        <div>

          <h3>{{ item.name }}</h3>
        </div>
      </a>
    </li>
    }
  </ul>
</app-detail-layout>