.activity-cards {
  display: grid;
  flex-direction: column;
  margin: 0;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 0;
  list-style: none;

  & .card {
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    --action-display: none;

    &:hover {
      border: 1px solid var(--accent-color);
      --action-display: block;
    }

    & .content {
      margin-left: 8px;
      display: flex;
      flex-direction: column;  
      gap: 4px;
      & * {
        margin: 0;
      } 

      & .desc { 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }

    & a {
      text-decoration: none;
      color: var(--accent-color);
      display: flex;
      flex-direction: row; 
    }

    & .actionIcon {
      display: var(--action-display);
      position: absolute;
      top: 0px;
      right: -1px;
      color: var(--primary-color);
    }


    & .image {
      width: 80px;
      height: 80px;
      background-color: var(--accent-color);
    }

  }
}